.container{
display: flex;
padding: 10px;
}
.info{

}
.banner{

}
.columna__one{
display: flex;
}
.columna__two{

}
.columna__three{

}
.columna__four{

}
.columna__five{

}
.columna__one__container_img{

}
.columna__one__img{

}
.columna__one__text{

}
.columna__two{

}
.columna__two__text{

}
.columna__three{

}
.columna__three__text{

}
.columna__four{

}
.columna__four__text{

}
 .columna__five{

 }
 .columna__five__input{

 }
 .columna__five__button{

 }
